.icon-card {
    &.style-six {
        background: $background;
        padding: 55px 38px;
        @include lg {
            padding: 30px 16px;
        }
        .content {
            .desc {
                padding: 0;
            }
        }
    }
}
