.accordion-wrapper-two {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    justify-content: space-between;
    height: 100%;

    //@include sm {
    //    margin-top: 24px;
    //    gap: 0;
    //}
    //@include md {
    //    margin-top: 24px;
    //    gap: 0;
    //}
    .accordion-list-item {
        width: 100%;
        background: $white;
        position: relative;
        @include transition;
        overflow: hidden;
        z-index: 2;

        //&:after {
        //    content: "";
        //    position: absolute;
        //    top: 0;
        //    right: 0;
        //    width: 100%;
        //    height: 100%;
        //    background-color: $brand;
        //    margin-top: -100%;
        //    margin-right: -100%;
        //    opacity: 0;
        //    visibility: hidden;
        //    z-index: 0;
        //    @include transition-icon;
        //}
        &:hover {
            //&:after {
            //    visibility: visible;
            //    opacity: 1;
            //    margin-top: 0;
            //    margin-right: 0;
            //}
            .accordion-head {
                .icon {
                    position: relative;
                    border-color: $icon-color;
                    z-index: 5;
                    &:after {
                        opacity: 0.5;
                    }
                }
            }
        }

        .accordion-head {
            display: flex;
            cursor: pointer;
            flex-direction: row;
            position: relative;
            justify-content: start;
            align-items: start;
            gap: 24px;
            padding: 36px 40px;
            padding-bottom: 0;
            cursor: pointer;

            @include sm {
                flex-direction: column;
                align-items: center;
            }
            @include lg {
                padding: 40px;
                padding-bottom: 0;
            }
            @include xl {
                padding: 20px 30px 0 30px;
            }
            &.collapsed {
                padding-bottom: 40px;
                @include xl {
                    padding-bottom: 20px;
                }
                .accordion-title {
                    margin-top: 20px;
                    @include sm {
                        margin-top: 0;
                    }
                }
            }
            .icon {
                width: 80px;
                height: 80px;
                background-color: $brand;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                border-radius: 50px;
                font-size: 48px;
                line-height: 48px;
                @include transition;
                border: 1px solid transparent;
                color: $icon-color;

                i {
                    position: relative;
                    z-index: 3;
                }
            }
            .accordion-title {
                font-size: 32px;
                line-height: 42px;
                letter-spacing: 0.02em;
                color: $title-color;
                position: relative;
                z-index: 5;

                @include sm {
                    font-size: 28px;
                }
                @include rmaxwd(430) {
                    font-size: 24px !important;
                    line-height: 34px;
                }
            }
        }
        .accordion-item-body {
            font-weight: 400;
            font-size: 18px;
            line-height: 31px;
            color: $text-color;
            position: relative;
            z-index: 5;
            padding-left: 150px;
            padding-right: 118px;
            padding-bottom: 20px;
            top: 0;
            position: relative;
            p{
                margin-bottom: 0;
            }
            @include xl {
                padding-right: 60px;
                font-size: 16px;
            }
            @include transition;

            @include sm {
                padding: 20px 40px 40px 40px;
                text-align: center;
            }
        }
        .accordion-collapse {
            &.show {
                .accordion-item-body {
                    top: -16px;
                    @include transition;

                    @include sm {
                        top: unset;
                    }
                }
            }
        }
    }
}