.post-card-one {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include sm {
    margin-bottom: 24px;
  }
  @include md {
    margin-bottom: 24px;
  }
  .post-image {
    overflow: hidden;
    img {
      width: 100%;
      transform: scale(1);
      @include transition;
    }
  }
  .content-wrapper {
    background: $white;
    padding: 32px 32px 48px 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include sm {
      padding: 24px;
      gap: 24px;
    }
    @include md {
      gap: 24px;
    }
    .post-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .post-meta {
        display: flex;
        gap: 16px;
        align-items: center;
        .meta-info {
          display: inline-flex;
          align-items: center;
          gap: 8px;
          span, a {
            line-height: 21px;
            font-size: 14px;
            color: $text-color;
            display: flex;
            align-items: center;
            gap: 8px;
            text-transform: capitalize;

            i {
              color: $title-color;
              font-size: 16px;
            }
          }
          p {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
      .title {
        margin-bottom: 0;

        a {
          &:hover {
            color: $black;
            text-decoration: underline;
          }
        }
        @include sm {
          font-size: 26px;
        }
        @include lg {
          font-size: 28px;
        }
      }
    }
    button {
      flex-shrink: 0;
    }
  }
  &:hover {
    .post-image {
      img {
        transform: scale(1.03);
        @include transition;
      }
    }
  }
}
