.slider-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include sm {
    padding: 0 12px;
  }
  @include md {
    padding: 0 12px;
  }
}
.slider-area {
  // overflow: hidden;
  position: relative;
  .shape-one {
    @include rwd(1440) {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 270px;
      right: 55px;
      transform: rotate(180deg);
      animation: Rotating-reverse 9s linear infinite;
      transform-origin: top left;
    }
  }
  .shape-two {
    @include rwd(1440) {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 271px;
      left: 42px;
      transform: rotate(0deg);
      animation: Rotating 5s linear infinite;
      transform-origin: bottom left;
    }
  }

  .slider-wrapper {
    // Active Slider Animate
    .slick-active .slider-short-title,
    .slick-active .slider-title,
    .slick-active .slider-short-desc,
    .slick-active .slider-btn-wrapper {
      -webkit-animation-name: MovefadeUp;
      animation-name: MovefadeUp;
      -webkit-animation-fill-mode: both;
    }

    .slick-active .slider-short-title {
      animation-delay: 0.3s;
      animation-duration: 0.3s;
    }
    .slick-active .slider-title {
      animation-delay: 0.5s;
      animation-duration: 0.5s;
    }

    .slick-active .slider-short-desc {
      animation-delay: 0.7s;
      animation-duration: 0.7s;
    }

    .slick-active .slider-btn-wrapper {
      animation-delay: 0.9s;
      animation-duration: 0.9s;
    }

    // Slick Dots
    .slick-dots {
      display: flex;
      gap: 0;
      position: absolute;
      bottom: 0;
      right: 96px;
      transform: translateY(-50%);
      z-index: 2;
      flex-direction: row;

      @include sm {
        display: none !important;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        right: 70px;
        transform: none;
      }
      @include md {
        right: 12px;
      }

      li {
        line-height: 0;
        border: 3px solid transparent;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: -5px;
        @include transition;
        position: relative;

        &:before,
        &:after {
          box-sizing: inherit;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 100px;
        }
        &:before {
          border: 3px solid transparent;
        }
        &:hover {
          &:before {
            border-top-color: $brand;
            border-right-color: $brand;
            border-bottom-color: $brand;
            transition:
              border-top-color 0.15s linear,
              border-right-color 0.15s linear 0.1s,
              border-bottom-color 0.15s linear 0.2s;
          }
        }
        &:after {
          border: 0 solid transparent;
        }

        &:hover {
          &:after {
            border-top: 3px solid $brand;
            border-left-width: 3px;
            border-right-width: 3px;
            transform: rotate(270deg);
          }
        }

        button {
          font-size: 0;
          line-height: 14px;
          padding: 0;
          width: 12px;
          height: 12px;
          background-color: #c3e4de;
          color: $white;
          border-radius: 50px;
          position: relative;
          @include transition;
        }
        &.slick-active {
          @include transition;
          border-color: $brand;
          &:before,
          &:after {
            display: none;
          }
          button {
            font-size: 16px;
            background: transparent;
            @include transition;
          }
        }
      }
    }
  }

  // Slick Nav Arrow Button
  button.slider-arrow-btn {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: transparent;
    border: 1px solid $white;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    display: none !important;

    @include rmaxwd(1650) {
      width: 44px;
      height: 44px;
      bottom: 30px !important;
    }
    @include rmaxwd(767) {
      width: 40px;
      height: 40px;
    }

    @include rmaxwd(1650) {
      bottom: 0;
      top: unset;
      display: none !important;
    }
    &.prev-btn {
      margin-left: 30px;
      left: 0;
      @include rmaxwd(1650) {
        left: 50%;
        margin-left: -50px;
      }
    }
    &.next-btn {
      margin-right: 30px;
      right: 0;
      @include rmaxwd(1650) {
        right: 50%;
        margin-right: -50px;
      }
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 21px;
      @include transition;
    }
    &:hover {
      @include transition;
      background-color: $brand;

      i {
        color: $title-color;
        @include transition;
      }
    }
  }
  .single-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 2;
    padding: 0 48px 64px 48px;
    height: 817px;

    @include sm {
      padding: 50px 0 64px 0;
      height: 100%;
    }
    @include md {
      height: 700px;
      padding: 0 32px 64px 24px;
    }
    @include lg {
      height: 700px;
      padding: 0 24px 64px 24px;
    }
    .slider-content-wrapper {
      position: relative;
      z-index: 99;
      @include sm {
        padding: 12px;
      }
      @include md {
        padding: 0;
      }
      .slider-content {
        @include sm {
          text-align: center;
          position: relative;
          z-index: 5;
        }

        .slider-short-title {
          font-family: $heading-font;
          font-weight: 700;
          font-size: 24px;
          color: $white;
          display: inline-block;
          width: 100%;
          margin-bottom: 15px;
          position: relative;
          z-index: 99;

          @include lg {
            font-size: 18px;
          }
        }
        .slider-title {
          font-family: $heading-font;
          font-style: normal;
          font-weight: 600;
          font-size: 76px;
          line-height: 91px;
          letter-spacing: 0.02em;
          margin-bottom: 16px;
          color: $white;
          position: relative;
          z-index: 10;

          @media only screen and (min-width: 992px) and (max-width: 1400px) {
            font-size: 60px;
            line-height: 64px;
          }

          @include lg {
            font-size: 48px;
            line-height: 56px;
          }
          @include md {
            font-size: 36px;
            line-height: 52px;
            br {
              display: none;
            }
          }
          @include sm {
            font-size: 36px;
            line-height: 44px;
            br {
              display: none;
            }
          }
        }
        .slider-short-desc {
          font-family: $body-font;
          font-weight: 400;
          font-size: 20px;
          line-height: 34px;
          color: $white;

          @include lg {
            font-size: 18px;
            line-height: 32px;
            br {
              display: none;
            }
          }
          @include md {
            font-size: 18px;
            line-height: 32px;
            br {
              display: none;
            }
          }
          @include sm {
            font-size: 18px;
            line-height: 32px;
            br {
              display: none;
            }
          }
        }
      }
    }
    .slider-image {
      position: relative;
      z-index: 2;
      // animation: MoveUpDown 2s linear infinite alternate;
      right: 0;
      top: 0;
      height: 100%;
      img {
        height: 100%;
        position: relative;
        z-index: 5;
      }
      .sketch {
        @include rwd(1440) {
          width: 109px;
          height: 109px;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 115px;
          left: 6px;
          animation: MoveUpDown 2s linear infinite alternate;
        }
      }
      .brush-sketch {
        @include rwd(1440) {
          width: 122px;
          height: 100px;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          bottom: 40px;
          right: 0px;
          transform: translate(50%, 50%);
          animation: MoveUpDown 2s linear infinite alternate;
          z-index: 8;
        }
      }

      @include sm {
        animation: none;
        margin: 0 auto;
        text-align: center;
        width: 300px;
        justify-content: center;
      }
    }
  }
}

// slider button
.slider-btn-wrapper {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @include sm {
    margin-top: 30px;
    justify-content: center;
  }

  .slider-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15.5px 32px;
    text-align: center;
    border-radius: 4px;
    text-transform: capitalize;
    font-family: $body-font;
    font-size: 18px;
    line-height: 31px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    color: $white;
    background: transparent;
    border: 1px solid $white;
    @include sm {
      padding: 8px 16px;
      font-size: 14px;
    }
    &.active {
      background: $brand;
      color: $title-color;
      border: 1px solid transparent;
      &:hover {
        background: transparent;
        color: $white;
        border: 1px solid $white;
      }
    }
    &:hover {
      background: $brand;
      color: $title-color;
      border-color: transparent;
    }
  }
  &.style-two {
    justify-content: center;
    @include rwd(768) {
      justify-content: start;
    }
    .slider-btn {
      border-color: $text-color;
      color: $title-color;
      &.active {
        border-color: transparent;
        &:hover {
          border-color: $text-color;
          color: $title-color;
        }
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
}
