.portfolio-card {
  &.style-two {
    gap: 0;
    overflow: hidden;

    .content {
      padding: 64px 40px;
      background: $background;
      margin-top: 0;
      width: 100%;
      height: 100%;

      @include sm {
        padding: 40px 26px;
      }
      @include md {
        padding: 40px 26px;
      }
      .icon {
        display: flex;
      }
      h4 {

        a {
          color: $title-color;
          @include transition;

          &:hover {
            color: $icon-color;
            text-decoration: underline;
            -webkit-text-decoration-color: $icon-color;
            text-decoration-color: $icon-color;
            @include transition;
          }
        }
      }
      p {
        color: $text-color;
      }
    }
    &:hover {
      .portfolio-image {
        img {
          transform: scale(1.03);
          filter: unset;
          @include transition
        }
      }
    }
    @include sm {
      margin-top: 24px;
    }
  }
}
