.portfolio-card {
    &.style-three {
        gap: 0;
        overflow: visible;
        .content {
            background: $white;
            padding: 44px 48px;
            margin-top: 0;
            overflow: visible;
            height: 100%;

            @include lg {
                padding: 40px 40px;
            }
            @include xl {
                padding: 44px 40px;
            }
            @include rmaxwd(991) {
                padding: 24px;
            }
            .icon {
                display: flex;
                align-items: center;
                border-radius: 4px;
                background: $icon-color;
                bottom: unset;
                right: 50px;
                top: 0;
                @include transition;
                i {
                    color: $white;
                }
                @include sm {
                    width: 48px;
                    height: 48px;
                    right: 24px;
                }
                @include md {
                    width: 48px;
                    height: 48px;
                    right: 24px;
                }
                &:hover {
                    background: $brand;
                    i {
                        color: $title-color;
                    }
                }
            }
            h4 {
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
            }
            h4,
            p {
                color: $title-color;
            }
            p {
                @include rmaxwd(991) {
                    font-size: 14px;
                }
            }
        }
    }
}
