.about-info-card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include md {
        margin-top: 24px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .content {
            .title {
                margin-bottom: 16px;
                @include sm {
                    margin-top: 24px;
                    font-size: 32px;
                    line-height: 44px;
                }
                @include md {
                    font-size: 48px;
                    line-height: 56px;
                }
                @include lg {
                    font-size: 48px;
                    line-height: 56px;
                }
            }
            .desc {
                font-size: 18px;
                line-height: 31px;
                color: $text-color;
                margin-bottom: 0;

                @include sm {
                    font-size: 16px;
                    line-height: 28px;
                }
                @include md {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
        .about-counter-card {
            display: flex;
            gap: 32px;
            margin-top: 0 !important;

            .counter-item {
                text-align: center;
                .counter-title {
                    text-align: center;
                    .number {
                        font-size: 43px;
                        line-height: 52px;
                        letter-spacing: 0.02em;
                        color: $title-color;
                        display: flex;
                        @include sm {
                            font-size: 32px;
                            line-height: 44px;
                        }
                        span {
                            flex-shrink: 0;
                        }
                    }
                }
                .counter-content {
                    .text {
                        font-size: 18px;
                        line-height: 31px;
                        color: #080f10;
                        margin-top: 8px;
                        margin-bottom: 0;
                        @include sm {
                            font-size: 16px;
                        }
                        @include md {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
