// page-breadcrumb-sec
.page-breadcrumb-sec {
  .sketch {
    position: absolute;
    top: 153px;
    left: 11px;
    background-position: center;
    background-repeat: no-repeat;
    width: 169px;
    height: 169px;
    animation: MoveUpDown 2s linear infinite alternate;
    @include sm {
      display: none;
    }
  }
}
.page-breadcrumb-sec {
  padding: 30px 20px;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 648px;
  display: flex;
  align-items: center;
  justify-content: center;


  @include sm {
    min-height: 350px;
  }
  @include md {
    min-height: 400px;
  }
  @include lg {
    min-height: 500px;
  }
  @include xl {
    min-height: 600px;
  }
  //&.style-two {
  //  padding: 235px 0;
  //  @include sm {
  //    padding: 112px 0;
  //  }
  //  @include md {
  //    padding: 148px 0;
  //  }
  //}
}

.page-overlay {
  @include gradient-color-hero;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.page-heading {
  position: relative;
  margin-top: 16px;

  h1,
  .page-title {
    font-family: $heading-font;
    font-weight: 600;
    font-size: 57px;
    line-height: 68px;
    text-align: center;
    color: $white;
    padding: 0 400px;
    margin-bottom: 0;

    br {
      @include sm {
        display: none;
      }
    }
    @include sm {
      font-size: 36px;
      line-height: 54px;
      padding: 0 12px;
    }
    @include md {
      font-size: 48px;
      line-height: 62px;
      padding: 0 12px;
    }
    @include lg {
      font-size: 48px;
      line-height: 62px;
      padding: 0 136px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      padding: 0 300px;
    }
  }
  //&.style-two {
  //  h1 {
  //    font-size: 56px;
  //    line-height: 120%;
  //    @include sm {
  //      font-size: 36px;
  //      line-height: 54px;
  //    }
  //    @include md {
  //      font-size: 48px;
  //      line-height: 62px;
  //    }
  //    @include lg {
  //      font-size: 48px;
  //      line-height: 62px;
  //    }
  //  }
  //}
}
.breadcrumb-wrapper {
  padding: 0;
  position: relative;
  z-index: 5;
}
.breadcrumb-list {
  text-align: center;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    display: inline-flex;
    gap:0 8px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: inline-flex;
      gap: 8px;
      position: relative;
      color: $white;

      &:last-child {
        color: $brand;
        a {
          color: $brand;
        }
      }
      &.active {
        color: $brand;
        font-family: $body-font;
        font-size: 18px;
        text-align: center;
        text-transform: capitalize;
        line-height: 28px;
        font-weight: 400;

        &:hover {
          color: #FFFFFF;
          @include transition;
        }
        a {
          color: $brand;

          &:hover {
            color: #FFFFFF;
            @include transition;
          }
        }
      }

      a {
        font-family: $body-font;
        font-size: 18px;
        text-align: center;
        color: $white;
        text-transform: capitalize;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 0;
        @include transition;


        &:hover {
          @include transition;
           color: $brand;
        }
      }

      &:before {
        content: "\f054";
        font-size: 12px;
        color: #fff;
        font-family: $font-awesome;
        display: inline-flex;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}

// Single-post-meta
.single-post-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
  margin-top: 24px;
  @include sm {
    gap: 4px;
    width: 100%;
    align-items: flex-start;
  }
  @include lg {
    gap: 4px;
  }
  .post-type {
    background-color: $brand;
    border-radius: 4px;
    color: $title-color;
  }
  span {
    font-size: 16px;
    line-height: 170%;
    font-weight: 400;
    color: $white;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    @include sm {
      font-size: 14px;
    }
    @include lg {
      font-size: 14px;
      padding: 4px 12px;
    }
    i {
      color: $brand;
      font-size: 16px;
      line-height: 18px;
      @include sm {
        font-size: 14px;
      }
      @include lg {
        font-size: 16px;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $white;
      @include transition;
    }
  }
}
