.custom-slider-btn {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;

    @include rmaxwd(767) {
        justify-content: center;
    }

    a {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: 0.3s;
        z-index: 99;
        background-color: transparent;
        border: 1px solid #ffffff;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        @include sm {
            width: 40px;
            height: 40px;
        }
        @include md {
            width: 45px;
            height: 45px;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 21px;
            @include transition;
        }
        &:hover {
            background: $brand;
            border-color: transparent;
            i {
                color: $title-color;
                @include transition;
            }
        }
    }
    &.style-two {
        margin-top: 0;
        a {
            border: 1px solid #828282;
            i {
                color: $title-color;
            }
            &:hover {
                border-color: transparent;
            }
        }
    }
}
