.faq-area-global {
    background-color: $background;
    padding: 120px 0;
    position: relative;
    @include sm {
        padding: 80px 0;
    }
    @include md {
        padding: 80px 0;
    }
    .faq-sketch {
        @include rwd(1400) {
            background: url("../images/sketch-color.png");
            position: absolute;
            bottom: 201px;
            left: 30px;
            background-position: center;
            background-repeat: no-repeat;
            width: 169px;
            height: 169px;
        }
    }
    .shape-one {
        background: url("../images/shape/Rectangle.png");
        position: absolute;
        left: 42px;
        bottom: 507px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        transform: rotate(0deg);
        animation: Rotating-reverse 9s linear infinite;
        transform-origin: top left;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
    .shape-two {
        background: url("../images/shape/shape-2.png");
        position: absolute;
        right: 55px;
        top: 201px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        transform: rotate(0deg);
        animation: Rotating-reverse 9s linear infinite;
        transform-origin: bottom right;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
}
