.price-card-switch {
    margin: 48px 0;
    text-align: center;

    ul {
        padding: 0;
        display: inline-flex;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap;
        border: 1px solid #e0e0e0;
        border-radius: 50px;
        padding: 10px;

        li {
            list-style: none;
            padding: 14px 20px;
            display: inline-block;
            color: #080f10;
            cursor: pointer;
            position: relative;
            z-index: 2;
            font-size: 16px;

            &:before {
                content: "";
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                @include transition;
                border-radius: 50px;
            }
            &.active {
                color: #fff;

                &:before {
                    background-color: #033F47;
                    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
                    width: 100%;
                }
            }
        }
    }
}

.price-card-wrapper {
    position: relative;
    z-index: 2;
    @include rmaxwd(991) {
        margin-bottom: 24px;
    }
    .price-card {
        background: $background;
        padding: 64px 38px 44px 36px;
        @include sm {
            padding: 40px 30px;
        }
        @include lg {
            padding: 45px 25px 35px 25px;
        }
        .card-title {
            .sub-title {
                font-family: $heading-font;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0.02em;
                color: $title-color;
            }
        }
        .price {
            margin-top: 40px;
            @include sm {
                margin-top: 24px;
            }
            .price-heading {
                display: flex;
                align-items: center;
                @include transition;
                .duration {
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                }
            }
            .price-desc {
                margin-top: 32px;
                font-weight: 400;
                font-size: 18px;
                line-height: 31px;
                color: $text-color;
            }
        }
        .divider {
            position: relative;
            margin-top: 20px;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: #e0e0e0;
            }
        }
        .list-title {
            font-family: $heading-font;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            margin: 24px 0;
        }
        .list-wrapper {
            display: flex;
            flex-direction: column;
            ul {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding-left: 0;
                margin-bottom: 0;
            }
            li {
                display: inline-flex;
                gap: 16px;
                align-items: center;
                @include lg {
                    font-size: 14px;
                }
                &:before{
                    content: "\e90c";
                    font-family: $iconmoon;
                    color: $primary-color;
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                    border-radius: 50px;
                    background: $white;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #e0e0e0;
                    font-size: 16px;
                }
            }
            .price-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 76px;

                @include sm {
                    margin-top: 44px;
                    justify-content: flex-start;
                }
                @include md {
                    margin-top: 44px;
                }
                a {
                    padding: 15.5px 64px;
                    border: 1px solid $text-color;
                    border-radius: 4px;
                    font-family: $body-font;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 31px;
                    text-align: center;
                    color: $title-color;
                    &:hover {
                        background: $icon-color;
                        color: $white;
                    }
                    @include sm {
                        padding: 14px 52px;
                    }
                    @include md {
                        padding: 14px 52px;
                    }
                }
            }
        }
    }
    .price-header {
        opacity: 0;
        overflow: hidden;
        background: $brand;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $icon-color;
        padding: 16px 0;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }

        .title {
            margin-bottom: 0;
        }
    }
    &.active {
        .price-header {
            opacity: 1;
            overflow: visible;
            p {
                color: $white;
            }
        }
        .price-card {
            background: $brand;
            .divider {
                &:before {
                    background: $white;
                }
            }
        }
        .list-wrapper {
            .price-btn {
                a {
                    background: $icon-color;
                    color: $white;
                }
                &:hover {
                    a {
                        background: transparent;
                        color: $title-color;
                    }
                }
            }
            li {
                &:before {
                    background: $icon-color;
                    color: $white;
                }
            }
        }
    }
    &.reverse {
        .price-header {
            background: $brand;
            p {
                color: $title-color;
            }
        }
        .price-card {
            background: $icon-color;
            .card-title {
                .sub-title {
                    color: $white;
                }
            }
            .price {
                .price-heading {
                    color: $white;
                    .duration {
                        color: $white;
                    }
                }
            }
            .list-title {
                color: $white;
            }
            .list-wrapper {
                .price-list-item {
                    .icon {
                        i {
                            color: $white;
                        }
                    }
                    .text {
                        color: $white;
                    }
                }
                .price-btn {
                    a {
                        border-color: $white;
                        color: $white;
                        &:hover {
                            background: $brand;
                            color: $title-color;
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
