.process-wrapper-two {
    background: #393d48;
    padding: 50px;
}
.process-step-slider-wrapper {
    position: relative;

    .process-step-sketch {
        @include rwd(1440) {
            position: absolute;
            width: 188px;
            height: 188px;
            bottom: -30px;
            left: -94px;
            top: unset;
            z-index: 1;
            animation: MoveUpDown 2s linear infinite alternate;
        }
    }

}
.process-step {
    display: flex !important;
    position: relative;
    .process-step-sketch {
        @include rwd(1440) {
            position: absolute;
            width: 188px;
            height: 188px;
            bottom: -30px;
            left: -94px;
            top: unset;
            z-index: 1;
            animation: MoveUpDown 2s linear infinite alternate;
        }
    }
    .image {
        width: 50%;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            @include transition;
            &:hover {
                transform: scale(1.03);
                @include transition;
            }
        }
        @include sm {
            width: 100%;
        }
        @include md {
            width: 100%;
        }
    }
    .content-wrapper {
        width: 50%;
        padding: 95px 111px 96px 133px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        background: $background;
        .content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            .icon {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background: $brand;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 48px;
                    line-height: 48px;
                    color: $icon-color;
                }
            }
            .title-wrapper {
                display: flex;
                flex-direction: column;
                gap: 16px;
                h4 {
                    @include sm {
                        font-size: 28px;
                    }
                }
            }
        }
        @include sm {
            width: 100%;
            padding: 24px;
        }
        @include md {
            width: 100%;
            padding: 24px;
        }
        @include lg {
            padding: 24px;
        }
    }
    @include sm {
        flex-direction: column;
    }
    @include md {
        flex-direction: column;
    }
}

// Process Step Slider Tab
.process-step-slider-tab {
    .slick-list {
        padding: 0 !important;
        margin: 0 -12px;

        .slick-track {

            @media only screen and (min-width: 992px) and (max-width: 2560px) {
                transform: none !important;
            }
            .slick-slide {
                margin: 0 12px;
                .content {
                    .title {
                        @include rmaxwd(991) {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}