.testimonial-card {
    &.style-two {
        margin-top: 64px;
        background: transparent;
        padding: 0;
        gap: 0;
        .image-wrapper {
            overflow: hidden;
            max-width: 50%;
            width: 100%;
            padding-right: 134px;
            position: relative;
            .image {
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 220px 0;
                    @include sm {
                        border-radius: 0;
                    }
                }
            }
            @include sm {
                max-width: 100%;
                padding-right: 0;
                overflow: visible;
            }
            @include md {
                max-width: 100%;
                padding-right: 0;
                overflow: visible;
            }
        }
        .content-wrapper {
            gap: 48px;
            justify-content: end;
            max-width: 50%;
            width: 100%;
            padding-right: 45px;
            position: relative;
            .count {
                width: 66px;
                height: 66px;
                border-radius: 50px;
                background: $brand;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    color: $icon-color;
                    font-size: 34px;
                    @include sm {
                        font-size: 14px;
                    }
                }
                @include sm {
                    width: 45px;
                    height: 45px;
                }
            }
            .icon {
                display: none;
            }
            .content {
                .text {
                    color: $white;
                    font-family: $heading-font;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 34px;
                    letter-spacing: 0.02em;
                    @include sm {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
            .meta-user {
                .user-info {
                    .image {
                        display: none;
                    }
                    .info {
                        h6 {
                            color: $brand;
                        }
                        p {
                            color: $white;
                        }
                    }
                }
            }
            @include sm {
                max-width: 100%;
                margin-top: 48px;
                padding-right: 0;
            }
            @include md {
                max-width: 100%;
                margin-top: 48px;
            }
        }
        @include sm {
            flex-direction: column;
        }
        @include md {
            flex-direction: column;
        }
    }
}
