.image-card {
    &.style-two {
        flex-direction: row-reverse;
        .content {
            .title {
                font-size: 43px;
                line-height: 53px;
                @include sm {
                    font-size: 30px;
                    line-height: 52px;
                }
            }
        }
        .image {
            overflow: visible;
            padding-left: unset;
        }
        @include sm {
            flex-direction: column-reverse;
            padding: 0;
        }
        @include md {
            flex-direction: column-reverse;
            padding: 0;
        }
    }
}
